.navbar {
      margin-bottom: 0;
      background-color: #FFFFFF !important;
      z-index: 9999;
      border: 0;
      font-size: 15px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 1px;
      border-radius: 0;
      font-family: Metropolis Regular, sans-serif;
      font-style: 'Metropolis' , sans-serif;
  }


  .navbar li{
    padding-left: 15px;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #000 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #EEE !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #000 !important;
  }

 #myNavbar{
    margin-left: 50px;
  }

.jumbotron {
      background-color: #000C30;
      color: #FF3F3F;
      margin-bottom: 0px !important;
      font: Futura-Bold;
      margin-top: 40px;
      padding-left: 0px;

  }
  
  .jumbotron p {

      color: #FFFFFF;
      font-family: Metropolis, sans-serif;
  }
  .jumbotron-heading
  {
    font-family: Futura-Bold;
    text-align: left;
    font-weight: 900;
    font-size: 5.5vw !important;
  }

  .panel-body
  {
    background-color: #000C30;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 3rem;
    height: 45rem;

  }

  .panel-p
  {
      color:#802020; 
      margin-bottom: -1rem;
      margin-top: -1rem;
      font-size: 2.5rem;
  }

  .panel-body-content
  {
    font-family: Metropolis Regular;
    color: #FFFFFF;
    font-size: 20px;
  }

  
.panel-body11
  {
    background-color: #FFF;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
  }

  .panel-p11
  {
      color:#802020;
      margin-bottom: 2rem;
      margin-top: -3rem;
      font-size: 2.5rem; 
  }

  .panel-body-content11
  {
    font-family: Metropolis,sans-serif;
    color: #000;
  }

  .panel-headingl111 {
    font-size: 1.7vw;
      color: #FF3F3F; !important;
      font-weight: 600;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }