.navbar {
      margin-bottom: 0;
      background-color: #FFFFFF !important;
      z-index: 9999;
      border: 0;
      font-size: 15px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 1px;
      border-radius: 0;
      font-family: Metropolis Regular, sans-serif;
      font-style: 'Metropolis' , sans-serif;
  }


  .navbar li{
    padding-left: 15px;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #000 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #EEE !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #000 !important;
  }

 #myNavbar{
    margin-left: 50px;
  }

  .jumbotron {
      background-color: #000C30 !important;
      color: #FF3F3F !important;
      margin-bottom: 0px !important;
      margin-top: 40px;
   

  }
  
  .jumbotron p {
      font-size: 16.5px; 
      text-align: left; 
      font-family: 'Metropolis Regular';
      color: #EEEEEE;
      margin-left: 0rem; 
  }
  .jumbotron-heading
  {
    font-family: 'Futura-Bold';
    text-align: left;
    margin-left: 0rem; 
    font-weight: 900;
    color: #FF3F3F; 
    font-size: 3.2vw !important;
  }

  .panel-body
  {
    background-color: #000C30;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-bottom: 4rem;
  }

  .panel-p
  {
      color:#802020; 
      margin-bottom: 0rem;
      margin-top: -2rem;
      font-size: 2.5rem;

  }

  .panel-body-content
  {
    font-family: 'Metropolis Regular';
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 2rem;
  }

  .panel-body-dig
  {
    background-image: url('../Resources/img1.jpg');
    background-size: cover;
    padding: 3vw;
  }

  .panel-button1 { 
  color: #FFF; 
  font-family: 'Metropolis';
  justify-content: center;
  background-color: #FF3F3F; 
  border: none;
  text-align: center;
  display: inline-block;
  padding:1rem 3rem;
    width:58%;
    margin-top: 13px;
    cursor: pointer;
} 

